.hello{
    color: brown;
    padding-left: 4cm;
}

.topbar{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family:monospace;
    height: 50px;
    display: flex;
}

.logo {
    padding-left: 20px;
    padding-top: 0;
}

.logo a{
    text-decoration: none;
    color: aliceblue;
}

.BgImage {
    background-image: url('f-b-image.jpg');
    height: 800px;
    width: auto;
    padding: auto;
    background-size:cover;
}

.placetxt {
    display: flex;
    /* padding-left: 25%; */
    margin-left: 25%;
    color: aliceblue;
    font-size: large;
    /* display: flex; */
    /* padding-top: 10%; */

}

.userid1 {
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    font-family:monospace;
    height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5%;

}

.pass1 {
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    font-family:monospace;
    height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 3%;

}

.logbtn {
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    font-family:monospace;
    height: 45px;
    width: 70px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 18%;
}

.input-page{
    padding-top: 5%;
    padding-left: 40%;
    align-items: center;
}

.welcometxt {
    color: aliceblue;
    text-align: center;
    justify-content: center;
    padding-top: 6%;
    display: flex;

}

.sign {
    margin-left: 75%;
    font-size: large;
    font: bold;
    background: none;
    border-radius: 5px;
    border: none;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid rgb(65, 59, 59);
}

.profiletab {
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    font-family:monospace;
    height: 45px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 18%;
}